﻿*{
    margin:0;
    padding:0;
}

body {
    text-align:center;
}
/*site layout*/
#wrapper{
   max-width:900px;
   margin:0 auto;
   text-align:left;
}

#topPage
{
    width:inherit;
    padding-top:1em;
    padding-bottom:1em;
    background-color:#d9cbd5;
    border-bottom-width:1px;
    border-bottom-color:black;
    text-align:right
}

#topPage h1
{
    text-align:center;
}

#topPage a
{
    text-decoration:none;
    color:#808080;
}

#topPage a:hover
{
    font:bolder;
    color:#0094ff;
}

#navigation
{
    float:left;
    width:20%;
    border-right:1px solid #d9cbd5;
    
}

#content
{
    margin-right:20%;
    width:79%; 
    padding-top:5px;
    padding-left:21%;
}

/*menu*/
.menu ul
{
    list-style-type: none;
}

.menu ul li{
  height:30px; 
  position:relative;
  background: linear-gradient(#d9cbd5, #868686);
}

.menu ul li:not(.active):hover a{
  color: #eee;
  border-left: 5px solid #FCFCFC;
  background-color: #1B1B1B;
}

.active a{
  color: #B93632;
  border-left:5px solid #B93632;
  background-color: #1B1B1B;
  outline:0;
}

.menuItem{
  text-decoration:none;
  display:block;
  height:100%;
  width:100%;
  color:#808080;
  padding-top:3px;
  text-transform: uppercase;
  font-weight: bold;
  padding-left:5%;
  border-left:5px solid transparent;
  letter-spacing:1px;
  border-left:5px solid #B93632;
  outline:0;
}

/*submenu*/

nav ul ul {
	display: none;
    position: absolute;
    top: 100%;
    float: right; 
}

nav ul li:hover > ul 
{
	display: inline;
}

nav ul ul li:hover 
{
    display:block;
    background-color:red;
}	



