﻿body {
}

#content h2
{
    text-align:center;
    padding-top:3px;
    padding-bottom:3px;
}

table
{
    padding-top:25px;
    padding-left:40px;
    font-family:Georgia;
}
table tr td
{
    padding-right:10px;
}

.leftColumn
{
    text-align:right;
    min-width:30px;
}