﻿body {
}

#form
{
    padding-left:14%;
    padding-top:30px;
    width:45%;
    align-content:center;
    min-width:100px;
}

.label
{
    width:30%;
    display:inline-block;
    padding-top:5px;
}

.text
{
    width:67%;
}

#submitButton
{
    float:right;
    width:50px;
    margin-right:5px;
}