﻿body {
}

h2
{
    float:left;
    padding-left:20px;
    width:inherit;
}

table
{
    width:100%;
    padding-top:5px;
    padding-left:5px;
}

table th
{
    padding-bottom:5px;
    text-indent:10px;
}

button.buttonLink 
 { 
     background:none;
     border:none; 
     color:blue; 
     cursor:pointer; 
 }
       
 .tdLeft 
 { 
     width:350px;
     text-align:left;
 }
       
 .tdRigth 
 { 
     width:400px;
     text-align:right; 
 }
               
 .messageRow 
 { 
     padding-top:15px;
 }