﻿body {
}

#form
{
    padding-left:5%;
    padding-top:30px;
    width:60%;
    align-content:center;
    min-width:100px;
}

.label
{
    width:35%;
    display:inline-block;
    padding-top:5px;
}

.text
{
    width:60%;
}

#submitButton
{
    float:right;
    width:80px;
    height:20px;
    margin-right:5px;
}

.radioBtn
{
    margin-left:30px;
}