﻿body {
}

h2
{
    float:left;
    padding-left:20px;
    width:inherit;
}

table
{
    width:100%;
    max-width:100%;
    float:left;
    padding-top:20px;
}

.label
{
    width:10%;
}

.field
{
    width:90%;
}

#dropdown
{
    width:100%;
}
#subject
{
    width:100%;
}

#message
{
    width:100%;
    max-width:100%;
    min-width:100px;
    min-height:300px;
    resize:none;
}

#button
{
    float: right;
    width:100px;
}