﻿body {
}

h2
{
    float:left;
    width:inherit;
    text-align:center;
}

h3
{
    float:left;
    width:100%;
    padding-left:20px;
    padding-top:10px;
}

table
{
    width:100%;
    padding-top:5px;
    padding-left:5px;
}

table th
{
    padding-bottom:5px;
}

.actionButtons
{
    width:55px;
    text-align:center
}
.button
{
    width:20px;
}

table tr td
{
    padding-top:3px;
}
